* {
margin: 0px;
padding: 0px;
background-color: #add8e6;
}
.container {
margin: 10px auto;
width: 80%;
}

#text-in-heading{
text-align: center;
padding: 3%;
position: relative;
right: 4%;
font-size: 300%;
font-family: ‘Nerko One’, cursive;
color: #FFFFFF;
}

.first {
  display: inline-block;
}
